body{
    margin-top: 2rem;    
    display: flex;
    justify-content: center;
}

* {
    font-size: x-large;
}

#buttons-div {
    display:flex;
    width: 75vw;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin: 1rem 0;
}

#buttons-div button{
    flex: 1;
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
}

.result {
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
}